* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter-regular;
}

@font-face {
  font-family: "Inter-regular";
  src: url("../font/Inter-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Inter-medium";
  src: url("../font/Inter-Medium.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Inter-thin";
  src: url("../font/Inter-Thin.ttf") format("truetype");
  font-style: normal;
}

.hero {
  margin-top: 5vw;
}

.container {
  max-width: 78vw;
  margin: 0 auto;
}

.title {
  font-family: Inter-medium;
  font-size: 33px;
  text-align: center;
  margin-bottom: 5vh;
}

.contributions {
  display: flex;
  gap: 2px;
  margin-top: 5vh;
  margin-left: 3vw;
}

.contriution1 {
  width: 20px;
  height: 20px;
  background-color: rgba(237, 237, 237, 1);
}

.contriution2 {
  width: 20px;
  height: 20px;
  background-color: rgba(172, 213, 242, 1);
}

.contriution3 {
  width: 20px;
  height: 20px;
  background-color: rgba(127, 168, 201, 1);
}

.contriution4 {
  width: 20px;
  height: 20px;
  background-color: rgba(82, 123, 160, 1);
}

.contriution5 {
  width: 20px;
  height: 20px;
  background-color: rgba(37, 78, 119, 1);
}

.lower {
  color: #7c7c7c;
  margin-right: 5px;
  font-size: 12px;
}

.bigger {
  color: #7c7c7c;
  font-size: 12px;
  margin-left: 5px;
}
